@page
@model Group_Project.Pages.SupportModel
@{
}



<div class="dec-bg">
    <div class="text-center">
        <h1 class="display-3" style="font-weight: bold; padding-top:50px">How can we help you?</h1>
        <br />
        
    </div>
    
</div>
